.demo-frame header, .demo-frame h1, .demo-frame .demo-conversion {
	display: none;
}

.demo-wrapper {
	min-height: 500px;
}

.bsap {
	position: absolute;
	top: 0;
	right: 0;
}

video { border: 1px solid #ccc; display: block; margin: 0 0 20px 0; }

#canvas { margin-top: 20px; border: 1px solid #ccc; display: block; }

body {
	font-family: Roboto !important;
}

.container h2 {
	font-size: 36px;
	color: #373334;
	line-height: 36px;
	text-align: center;
	font-family: Roboto;
	font-weight: 500;
	font-style: normal;
}

.container.datos-sala {
	font-size: 19px;
	line-height: 19px;
	color: grey;
}
.izquierda{
	flex: 50%;
}
.derecha{
	flex: 50%;
	    justify-content: flex-end;
}
.col-form-label.imagen {
	padding-top: 0px;
}

.container hr {
	color:#fd0;
	border-top: 3px solid #fd0;
	opacity: 1;
}
